{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/style-starter.css' %}">
    <title>header</title>
</head>
<body>
    <header id="site-header" class="fixed-top">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-dark stroke">
            <h1>
              <a class="navbar-brand" href="{% url 'index' %}">
                <span class="fa fa-diamond"></span>SkillForge Nexus<span class="logo">Journey to success</span></a>
            </h1>
      
            <!-- if logo is image enable this   
              <a class="navbar-brand" href="#index.html">
                  <img src="{% static 'image-path" alt="Your logo" title="Your logo" style="height:35px;" />
              </a> -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
              data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
              <span class="navbar-toggler-icon fa icon-close fa-times"></span>
              </span>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mx-lg-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item @@about__active">
                  <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item @@courses__active">
                  <a class="nav-link" href="{% url 'courses' %}">Courses</a>
                </li>
                <li class="nav-item @@contact__active">
                  <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
              </ul>
      
              <!--/search-right-->
              <div class="search-right">
                <a href="#search" title="search"><span class="fa fa-search" aria-hidden="true"></span></a>
                <!-- search popup -->
                <div id="search" class="pop-overlay">
                  <div class="popup">
      
                    <form action="error.html" method="GET" class="search-box">
                      <input type="search" placeholder="Search" name="search" required="required" autofocus="">
                      <button type="submit" class="btn"><span class="fa fa-search" aria-hidden="true"></span></button>
                    </form>
      
                  </div>
                  <a class="close" href="#close">×</a>
                </div>
                <!-- /search popup -->
              </div>
              {% if user_data %}
              <div class="top-quote mr-lg-2 text-center">
                <img src="{{user_data.profile_pic.url}}" alt="Profile pic" style="max-width: 51px; max-height: 51px; border-radius: 51px; ">
                        <span aria-hidden="true"></span> {{user_data.first_name}} </a>
              </div>
              <div class="top-quote mr-lg-2 text-center">
                <a href="{% url 'logout' %}" class="btn login mr-2"><span class="fa fa-lock"></span> logout</a>
              </div>

              {% else %}
              <div class="top-quote mr-lg-2 text-center">
                <a href="{% url 'login' %}" class="btn login mr-2"><span class="fa fa-user"></span> login</a>
              </div>
              <div class="top-quote mr-lg-2 text-center">
                <a href="{% url 'signup' %}" class="btn login mr-2"><span class="fa fa-pencil"></span> signup</a>
              </div>
              {% endif %}
            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="mobile-position">
              <nav class="navigation">
                <div class="theme-switch-wrapper">
                  <label class="theme-switch" for="checkbox">
                    <input type="checkbox" id="checkbox">
                    <div class="mode-container py-1">
                      <i class="gg-sun"></i>
                      <i class="gg-moon"></i>
                    </div>
                  </label>
                </div>
              </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
          </nav>
        </div>
      </header>

<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>

<script src="{% static 'assets/js/theme-change.js' %}"></script>

<!-- stats number counter-->
<script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.countup.js' %}"></script>

    
</body>
</html>